body {
  background: #f3f3f3;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: white;
  width: 100%;
}


/* The Magic Float Center Code */
.float_center {
  position: relative;
  margin-left: 25%;
  top: 10px;
  left: 0;
}

#main {
  position: absolute;
  margin-top: 110px;
  margin-left: 20px;
  background-color: white;
  width: 560px;
}

.video_entry {
  color: black;
  margin: 5px;
}

.video_entry:hover {
  color: violet;
}

.video_entry>img {
  float: left;
}


.video_entry_container {
  position: absolute;
  background-color: white;
  margin-top: 110px;
  margin-left: 620px;
  width: 280px;

}

.clearfix {
  overflow: auto;
}